*{
  margin: 0;
  padding: 0;
  color: white;
}
body{
  min-height: 100vh;
  background-image: url(quant.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav{
  background-color: rgba(0, 0, 0, 0.88);
  box-shadow: 3px 5px rgba(95, 86, 17, 0.199);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(199, 175, 20);
}
nav a:hover{
  background-color: rgb(59, 59, 30);
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(87, 85, 70, 0.062);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(62, 62, 24);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
  color: rgb(238, 255, 3);
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
#logo{
  margin-left: -15px;
}
header{
  height: 700px;
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
}
header h1{
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(255, 230, 0);
}
header h3{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.center-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  width: 170px;
}
main{
  position: relative;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.88);
  text-align: center;
}
.mapofpi{
  margin-bottom: 50px;
}
main h2{
  padding-top: 10px;
  text-align: left;
  margin-left: 20px;
}
.project{
  background: rgba(86, 79, 57, 0.715);
  height: 250px;
  width: 300px;
  align-items: center;
  margin: auto;
}
.imgPro{
  background: rgba(86, 79, 57, 0.715);
  height: 200px;
  width: 200px;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}
footer{
  position: relative;
  height: 350px;
  background-color: rgb(54, 54, 50);
}
.foot1{
  position: relative;
  height: 100px;
}
.foot1 h2{
  text-align: center;
  padding: 20px;
}

.foot2{
  height: 200px;
}
.foot2 h5{
  text-align: left;
  padding-left: 30px;
  padding-top: 10px;
}
.foot3{
  height: 50px;
}
.foot3-normal{
  display: block;
}
.foot3-splitA{
  display: none;
}
.foot3-splitB{
  display: none;
}
@media only screen and (max-width: 400px){
  .foot3-normal{
    display: none;
  }
  .foot3-splitA{
    display: block;
  }
  .foot3-splitB{
    display: block;
    margin-top: -15px;
  }
}
.foot3 p{
  text-align: right;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 15px;
}
#small-text{
  font-size: 0.55em;
}
#footLogo{
  padding-top: 60px;
  padding-left: 30px;
}
.container {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 0;
  box-sizing: border-box;
  margin-top: 8px;
}

.bar1 {
  width: 60px;
  height: 1.5px;
  background-color: #baa60e;
  margin: 7px 0;
  transition: 0.4s;
}
.bar2 {
  width: 45px;
  height: 1.5px;
  background-color: #baa60e;
  margin: 7px 15px;
  transition: 0.4s;
}
.bar3 {
  width: 30px;
  height: 1.5px;
  background-color: #baa60e;
  margin: 7px 30px;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 18px) rotate(-180deg);
}

.change .bar2 {
  transform: translate(0, 0) rotate(0deg);
}

.change .bar3 {
  transform: translate(0, -18px) rotate(180deg);
}

